[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
typing-extensions = "*"

[scripts]
test = "env JUPYTER_PLATFORM_DIRS=1 python3 -m pytest -x"

[requires]
python_version = "3.10"
